
.status .col{
  font-size: 10px;
}

#screen{
  background-color: #fff;
  margin-top: 50px;
  height: 400px;
  width: 90%;
  margin: auto;
  overflow: hidden;
}

#toggleMusicButton{
  position:fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 5%;
}

#map{
  position:relative;
  background-image: url('/images/tile.jpg');
  background-size: 20px 20px;
}

.cell{
  margin:0;
  float:left;
}

.wall{
  background-image: url('/images/wall.png');
  background-size: 100% 100%;
}

#player{
  position:absolute;
  margin:0;
  width: 20px;
  height: 20px;
}

.playerRight_0{
  background-image: url('/images/right_0.png');
  background-size: 100% 100%;
}
.playerRight_1{
  background-image: url('/images/right_1.png');
  background-size: 100% 100%;
}
.playerRight_2{
  background-image: url('/images/right_2.png');
  background-size: 100% 100%;
}
.playerLeft_0{
  background-image: url('/images/left_0.png');
  background-size: 100% 100%;
}
.playerLeft_1{
  background-image: url('/images/left_1.png');
  background-size: 100% 100%;
}
.playerLeft_2{
  background-image: url('/images/left_2.png');
  background-size: 100% 100%;
}
.playerDown_0{
  background-image: url('/images/down_0.png');
  background-size: 100% 100%;
}
.playerDown_1{
  background-image: url('/images/down_1.png');
  background-size: 100% 100%;
}
.playerDown_2{
  background-image: url('/images/down_2.png');
  background-size: 100% 100%;
}
.playerUp_0{
  background-image: url('/images/up_0.png');
  background-size: 100% 100%;
}
.playerUp_1{
  background-image: url('/images/up_1.png');
  background-size: 100% 100%;
}
.playerUp_2{
  background-image: url('/images/up_2.png');
  background-size: 100% 100%;
}
.playerUpRight_0{
  background-image: url('/images/upRight_0.png');
  background-size: 100% 100%;
}
.playerUpRight_1{
  background-image: url('/images/upRight_1.png');
  background-size: 100% 100%;
}
.playerUpRight_2{
  background-image: url('/images/upRight_2.png');
  background-size: 100% 100%;
}
.playerUpLeft_0{
  background-image: url('/images/upLeft_0.png');
  background-size: 100% 100%;
}
.playerUpLeft_1{
  background-image: url('/images/upLeft_1.png');
  background-size: 100% 100%;
}
.playerUpLeft_2{
  background-image: url('/images/upLeft_2.png');
  background-size: 100% 100%;
}
.playerDownRight_0{
  background-image: url('/images/downRight_0.png');
  background-size: 100% 100%;
}
.playerDownRight_1{
  background-image: url('/images/downRight_1.png');
  background-size: 100% 100%;
}
.playerDownRight_2{
  background-image: url('/images/downRight_2.png');
  background-size: 100% 100%;
}
.playerDownLeft_0{
  background-image: url('/images/downLeft_0.png');
  background-size: 100% 100%;
}
.playerDownLeft_1{
  background-image: url('/images/downLeft_1.png');
  background-size: 100% 100%;
}
.playerDownLeft_2{
  background-image: url('/images/downLeft_2.png');
  background-size: 100% 100%;
}

.red{
  background-color: #ff0000;
}

.turnRight{
  background-image: url('/images/player_right.png');
  background-size: 100% 100%;
}

.corridor{
  background-image: url('/images/tile.jpg');
  background-size: 100% 100%;
}

.wallTop{
  background-image: url('/images/wallTop.png');
  background-size: 100% 100%;
}

.potion{
  background-image: url('/images/potion.png');
  background-size: 100% 100%;
}

.monster_1{
  background-image: url('/images/slime.gif');
  background-size: 100% 100%;
}

.monster_2{
  background-image: url('/images/wolf.gif');
  background-size: 100% 100%;
}

.monster_3{
  background-image: url('/images/dino.gif');
  background-size: 100% 100%;
}

.boss{ //boss
  background-image: url('/images/boss.gif');
  background-size: 100% 100%;
}

.popUp {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #777;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    opacity: 0.8;
    color: #000;
    width: 70%; /* Could be more or less, depending on screen size */
    height: 300px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.stair{
  background-image: url('/images/stair.png');
  background-size: 100% 100%;
}
